body {
    color:black;
    background-color:white;
    background-image:url(assets/images/Back.jpg);
    background-repeat: initial;
}

p {
    color: darkgoldenrod;
    font-style: oblique;
    font-size: 18px;
    text-shadow: 3px 2px 16px rgb(255, 230, 0);
}

a, a:visited {
    color: black;
    text-decoration: none;
    transition: all 0.4s ease;
}

a:hover, a:focus {
	color: #AE831D;
}

/* a.menu_bas{
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-size: 17px;
} */

h1 {
    font-family: 'El Messiri', sans-serif;
    font-style: inherit;
}

/* HEADER */

header {
    text-align: center;
    padding-top: 20px;
}

div.logo img {
    margin: 0 auto;
}

span {
    font-family: fantasy;
} 

section.header_title {
    height: 270px;
    background-image: url('assets/images/arriere6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section.header_title h1 {
    margin: 0;
    font-size: 50px;
    text-align: center;
    padding: 110px 0;
    text-transform: uppercase;
    color: black;
    text-shadow: 3px 2px 16px rgb(126, 27, 255);
}

ul.rs {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 80px;
	right: 100px;
}

ul.rs li {
	display: inline-block;
	margin: 0 10px;
}

ul.rs li a,
ul.rs li a:visited {
	font-size: 50px;
}

ul.rs li a:hover,
ul.rs li a:focus {
	color: #AE831D;
}

/* MENU */
nav {
    box-shadow: 3px 2px 16px darkgoldenrod
}
nav ul {
    list-style-type: none;
}
nav a, nav a:visited {
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 20px 15px;
    font-size: 22px;
}

/* A enlever ligne ci-desous si ont veut que l'image ne touche plus au menu haut */

ul.niv_1 {
    margin-bottom: 0;
}

ul.niv_1 > li {
    display: inline-block;
    position: relative;
}

ul.niv_1 li a:hover, ul.niv_1 li a:focus {
    color: darkgoldenrod
}

ul.niv_1 li:hover ul.niv_2 {
    display: block;
}

ul.niv_2 {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    /* background-color: gray; */
    background-image: url('assets/images/Back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0;
    text-shadow: 3px 2px 16px darkgoldenrod;
    box-shadow: 3px 2px 16px rgb(5, 5, 5);
}

ul.niv_2 li a, 
ul.niv_2 li a:visited {
    text-align: left;
}

ul.niv_2 li a:hover, 
ul.niv_2 li a:focus {
    background-color: rgb(184, 134, 11);
    color: rgb(0, 0, 0);
}

/* FOOTER */
footer {
    box-shadow: 0px 1px 11px darkgoldenrod;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    padding: 20px 100px 20px 100px;
    background-color:rgb(68, 67, 67);
    background-image:url(assets/images/Back.jpg);
    z-index: 100000000;
}

footer .right {
    position: absolute;
    top: 0;
    right: 300px;
}

ul.footer_links {
    list-style-type: none;
}

ul.footer_links li {
    display: inline-block;
    padding: 4px 8px;
}

/* MIDBLOCK */

.mid_block {
    padding: 40px 100px 80px 400px;
    position: relative;
    margin-bottom: 80px;
}

.mid_block aside {
    width: 250px;
    position: absolute;
    top: 40px;
    left: 100px;
    padding-bottom: 80px;
}

.mid_block a {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0px 1px 11px darkgoldenrod;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.mid_block a div {
    position: absolute;
    bottom: -200px;
    height: 250px;
    left: 0;
    background-color: darkgoldenrod;
    width: 100%;
    padding: 5px 10px;
    transition: all 0.4s ease;
}

.mid_block a span {
    width: 100%;
    padding: 5px 10px;
}

.mid_block a:hover
.mid_block a:focus {
	/*color: #000;*/
}

.mid_block a:hover div,
.mid_block a:focus div {
	/*padding: inherit;*/
	bottom: 0;
	right: 0;
	left: 0;
	width: auto;
	background-color: rgba(250, 250, 250, 0.8);
	/*color: #000;*/
}

.mid_block a:hover div span,
.mid_block a:focus div span {
	/*text-align: center;*/
    /*color: #000;*/
}

.mid_block a:hover div span.title,
.mid_block a:focus div span.title {
    padding-top: 20px;
}

.mid_block a div span {
    display: block;
    transition: all 0.4s ease;
}

.mid_block a div span.title {
    text-transform: uppercase;
    font-weight: 700;
}

.mid_block a div span.date {
    font-size: 11px;
    font-style: italic;
    padding-bottom: 5px;
}

.mid_block section {
    padding: 10px 20px;
}

.mid_block section p {
	font-size: 18px;
	text-align: justify;
}

.mid_block section p:first-child {
    margin-top: 0;
}

.citation {
    margin: 120px 0;
    font-size: 48px;
    padding: 20px 40px 20px 70px;
    text-align: center;
}

.citation blockquote {
    font-family: 'Dancing Script', cursive;
    position: relative;
}

.citation blockquote:before {
	position: absolute;
	top: -340px;
	left: -90px;
	content: "«";
	font-size: 450px;
	transform: rotate(30deg);
    color: #AE831D;
    text-shadow: 3px 2px 16px black;
}

.citation span {
	display: block;
	text-align: right;
	font-size: 16px;
	color: #AE831D;
	padding-top: 30px;
    font-family: 'Great Vibes', cursive;
    font-style: inherit;
    text-shadow: 3px 2px 16px rgb(240, 219, 28);
}

/* ARTICLE */

div.article1 {
    text-shadow: 3px 2px 16px darkgoldenrod;
}

.slider .swiper-slide .image {
	width: auto;
	height: 250px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.slider .swiper-slide .image span {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 10px;
	left: 0;
	text-align: center;
	color: #FFF;
}

.slider .swiper-slide .image span:hover,
.slider .swiper-slide .image span:focus {
    color: #AE831D;
}

.swiper-button-prev,
.swiper-button-next {
    color: #AE831D;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #FFF;
}

div.titre {
    text-align: center;
    text-shadow: 3px 2px 16px darkgoldenrod;
    famille de polices: 'Lobster Two', cursive;
    font-style: inherit;
    font-size: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.titre::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background-color: darkgoldenrod;
    width: 75px;
    height: 2px;
}

.swiper-button-prev,
.swiper-button-next {
    color: rgb(0, 0, 0);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	color: darkgoldenrod;
}

@media only screen and (max-width: 892px) {
	ul.rs {
		right: 50px;
	}
}

@media only screen and (max-width: 870px) {
	section.header_title h1 {
        font-size: 45px;
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
	ul.rs {
		position: inherit;
		top: inherit;
		right: inherit;
	}
}

@media only screen and (max-width: 786px) {
	section.header_title h1 {
        font-size: 35px;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
	ul.rs {
		right: 50px;
	}
}

@media only screen and (max-width: 616px) {
	section.header_title h1 {
        font-size: 30px;
        text-align: center;
    }
}

@media only screen and (max-width: 564px) {
	ul.niv_1 a {
        font-size: 20px;
        width: auto;
        position: relative;
        margin-right: 10px;
	}
}

@media only screen and (max-width: 556px) {
	ul.niv_2 {
        border-radius: 10px;
        z-index: 100000000;
	}
}